<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Faster Deal</title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>

</head>
<body>
  <header>
    <!-- Barre de navigation ou autres éléments communs -->
    <nav>
    </nav>
  </header>

  <main>
    <%= yield %> <!-- Cette ligne va rendre la vue spécifique pour chaque action -->
  </main>


</body>
</html>

